body{
    
    margin: 0;
    padding: 0;
    
}

/* Prima sezione della pagina */

.header {
    background: linear-gradient(to bottom, #333300 0%, #cc6600 100%);
    color: #F9FAF8;
    font-family:Arial, Helvetica, sans-serif;
    height: 600px; 
    position: relative;
    bottom: 32px;
    
}

.cat {
    height: 369px;
    width: 451px;
    position: relative;
    left: 1272px;
    bottom: 542px;
    border-radius: 40px;
    border: 2px solid white;
}

.logo{
    position: relative;
    left: 7px;
    height: 390px;
    width: 472px;
    
}

.main-text{
    font-size: 48px;
    font-weight: bold;
    padding: 15px;
    margin-left: 248px;
    position: relative;
    bottom: 192px;
    left: 215px;
    
}

li,a,ul{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E8EB;
    display: flex;
    justify-content: flex-end;
    gap: 74px;
    position: relative;
    right: 10px;
    bottom: 23px;
}

.links{
    display: flex;
    position: relative;
    bottom: 316px;

}

.sign-up {
    background-color: #3882f6;
    border-radius: 10px;
    width: 161px;
    text-align: center;
    height: 62px;
    position: relative;
    bottom: 643px;
    left: 423px;
    font-size: 24px;
    margin-left: 248px;
    
    
}

.sub-text{
    font-size: 18px;
    color: #e5e7eb;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    width: 521px;
    text-align: start;
    margin-left: 248px;
    position: relative;
    left: 224px;
    bottom: 246px;
}

.sign-text{
    padding: 15px;
}

/* Seconda sezione della pagina */

.header2{
    font-family:Arial, Helvetica, sans-serif;
    height: 600px; 
}

.main-text2{
    text-align: center;
}


.cat-info-imgs{
    width: 200px;
    height: 170px;
    border-radius: 10px;
    border: 2px solid black;
}
.cats-info{
    display: inline-flex;
    position: sticky;
    left: 402px;
    gap: 274px;
   
}

/* Terza sezione della pagina */

.header3{
    background-color: #e5e7eb;
    height: 300px;
    
}

.h3-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 122px;
    right: 564px;
    margin-left: 1145px;
    font-weight: lighter;
}

.firm{
    font-size: 35px;
    font-weight: bold;
    text-align-last: end;
    position: relative;
    right: 428px;
    top: 80px;
}

/* Terza sezione della pagina */

.bottom-page{
    background-color: #3882f6;
    width: 1236px;
    height: 128px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    left: 244px;
    padding: 25px;
    margin-top: 100px;
    border: 1px solid black;

}

.cta-text{
    font-size: 30px;
    color: white;
    position: relative;
    right: 289px;
}

.cta-text2{
    color: white;
    font-size: 18px;
    position: relative;
    right: 198px;
    bottom: 19px;
}

.button{
    font-size: 25px;
    background-color: #3882f6;
    border-radius: 10px;
    position: relative;
    left: 444px;
    bottom: 90px;
    color: aliceblue;
    border: 1px solid;
    width: 145px;
    height: 50px;
}


button:hover{
    background-color: red;
    transition: 0.8s;
}

.footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    height: 103px;
    margin-top: 102px;
}

.footer-text{
    position: relative;
    top: 44px;
}